body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.bloco1{
    position: relative;
    width: 940px;
    margin: 0 auto;
} 

nav {
    position: absolute;
    top: 110px;
    right: 0; 
}

nav li {
    display: inline;
    margin: 0 0 0 15px; 
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline
}

.Produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.Produtos li{
    display: inline-block;
    text-align: center;
    width: 30% ;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px black solid ;
    border-radius: 10px
}

.Produtos li:hover {
    border-color: #C78C19
} 

.Produtos li:active{
    border-color: green;
}

.Produtos li:hover h2{
    font-size: 34px;
    
}

.Produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.Produtos-Cortes{
    font-size: 18px;
}

.produtos-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background: url("bg.jpg");
    padding: 40px 0;
    text-align: center;
    
}

.copyright{
    color: white;
    margin-top: 20px;
    font-size: 13px;
}

.main-contato{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color:white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background-color: darkorange; 
    transform: scale(1.1)
}

table{
    margin: 20px 0 40px
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 8px 15px
}


/* css da página inicial */

.banner{
    width: 100%
}

.titulo-principal{
    text-align: center;
    font-size:2em;
    margin: 0 0 1em;
    clear: left;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width:120px;
    float:left;
    margin: 0 20px 20px 0;
}

.imagembeneficios{
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000
    
}

.imagembeneficios:hover{
    opacity: 0.3;
    
    
    
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo{
    width:940px;
    margin: 0 auto;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.video{
    width: 560px;
    margin: 2em auto;
}

.benefícios{
    padding: 3em 0;
    background: #888888
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens{
    line-height:  1.5;
}

.itens:first-child{
    font-weight: bold;
}

.itens:before {
    content:"★";
}

.imagem-beneficios{
    width: 60%
}

@media screen and (max-width: 480px) {
    .bloco1, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .lista-beneficios, .imagembeneficios{
        width: 100%
    }
}

